table{
	background-color: #333;
}
.Gray{
	color: gray;
}
.NAS{
	padding-bottom: 17px;
	color: red;
}
.Yellow{
	color: #F9E79F; 
}
.Orange{
	color: #D35400;
}
.title{
	color: white;
}
.green{
	color: green;
}